@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
main,footer{
    max-width: 1440px;
    margin: 0 auto ;
}
main > section{
    margin-top: 130px;
}
.btn_primary{
    font-size: 1.25rem;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
}
.display_flex{
    display: flex;
}
.section_title{
    font-size: 2.8rem;
    font-weight: 700;
    color:rgb(19, 19, 19);
    margin:20px 0;
}
.section_descripition{
    font-size: 1rem;
    font-weight: 400;
    color:hsla(0,0%,45%,1);
}
/* dark 02 */
.fnt_color2{
    color:rgb(66, 66, 66);
}
.bg_clr{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */


/* nav styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav_item{
    list-style: none;
    margin-right: 30px;
}
.nav_link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_title{
    font-size: 4rem;
font-weight: 700;
color:rgb(19, 19, 19);
}
.banner_img{
    width: 100%;
}
/* beauty styles */
.beauty{
    gap: 140px;
}
.content_title{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
}
.beauty_info{
    border-radius: 8px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
}
.info_title{
    font-size: 1.25rem;
font-weight: 600;
margin: 0;
}
.beauty_img > img{
    width: 100%;
}
#exp_badge{
    padding: 45px 42px;
    font-size:1.5rem;
    font-weight: 500;
    margin-left: -90px;
    margin-top: -130px;
}
#text_syle{
    font-size:4rem;
    font-weight: 700;
    color: white;
}
/* group atyles */
.group{
    gap: 76px;
    align-items: center;
}
.team_img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.g_content{
    max-width: 530px;
}
.fnt_style{
    font-weight: 500;
    color:hsla(0,0%,45%,1);
}
.fnt_style3{
    color: rgb(255, 144, 14);
}

/* facts cards */
.card_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card_description{
    max-width: 540px;
    margin-bottom: 100px;
}
.card{
    width: 240px;
    height: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
}
.card_num{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 8px 0;
}
.card_name{
    font-size: 1.25rem;
    margin: 0;
}

/* sponsor styles */
.sponsor_info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor_img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
}
/* footer section */
.footer{
    width: 100%;
    border-radius: 8px;
background: rgb(255, 244, 231);
margin-top: 130px;
margin-bottom: 200px;
}
.footer > p{
    font-size: 1.25rem;
    padding: 40px 400px;
}
/* media query */
@media screen and (max-width:576px){
    .navbar,
    .nav_links,
    .group,
    .beauty{
        flex-direction: column;
    }

    .team_img,
    .card_container,
    .sponsor_img{
        grid-template-columns: 1fr;
    }
    .card_container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor_img{
        justify-items: center;
        gap: 50px;
    }
    #exp_badge{
        margin-top: 20px ;
        margin-left: 30px;
    }
    .footer{
        text-align: center;
    }
    .footer>p{
        padding: 20px 5px;
    }
}
@media screen and (min-width:576px)and (max-width:992px){
    .group,.beauty{
        flex-direction: column;
        text-align: center;
    }
    .sponsor_img,
    .card_container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
    #exp_badge{
        margin: 5px auto;
    }
    .footer{
        text-align: center;
    }
    .footer>p{
        padding: 30px 0;
    }
}
